In [1]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in /home/sayar/.local/lib/python3.8/site-packages (1.3.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.17.3 in /home/sayar/.local/lib/python3.8/site-packages (from pandas) (1.21.2)
Requirement already satisfied: numpy in /home/sayar/.local/lib/python3.8/site-packages (1.21.2)

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Reading and displaying the dataframe

df = pd.read_csv('sales.csv')
df

       Month  Sales
0    1960-01   6550
1    1960-02   8728
2    1960-03  12026
3    1960-04  14395
4    1960-05  14587
..       ...    ...
103  1968-08  16722
104  1968-09  14385
105  1968-10  21342
106  1968-11  17180
107  1968-12  14577

[108 rows x 2 columns]

In [4]:
# Store all of the sales figures in a list
all_sales = df.Sales.tolist()

In [5]:
# Checking the data type of 'all_sales'
type(all_sales)

list

In [6]:
# Checking number of elements in 'all_sales'
len(all_sales)

108

In [7]:
# Convert the 'all_sales' list to a numpy array
all_sales_array = np.asarray(all_sales)

In [8]:
# Checking the data type of 'all_sales_array'
type(all_sales_array)

numpy.ndarray

In [9]:
# Displaying 'all_sales_array'
all_sales_array

array([ 6550,  8728, 12026, 14395, 14587, 13791,  9498,  8251,  7049,
        9545,  9364,  8456,  7237,  9374, 11837, 13784, 15926, 13821,
       11143,  7975,  7610, 10015, 12759,  8816, 10677, 10947, 15200,
       17010, 20900, 16205, 12143,  8997,  5568, 11474, 12256, 10583,
       10862, 10965, 14405, 20379, 20128, 17816, 12268,  8642,  7962,
       13932, 15936, 12628, 12267, 12470, 18944, 21259, 22015, 18581,
       15175, 10306, 10792, 14752, 13754, 11738, 12181, 12965, 19990,
       23125, 23541, 21247, 15189, 14767, 10895, 17130, 17697, 16611,
       12674, 12760, 20249, 22135, 20677, 19933, 15388, 15113, 13401,
       16135, 17562, 14720, 12225, 11608, 20985, 19692, 24081, 22114,
       14220, 13434, 13598, 17187, 16119, 13713, 13210, 14251, 20139,
       21725, 26099, 21084, 18024, 16722, 14385, 21342, 17180, 14577])

In [10]:
# Computing total sales
total_sales = np.sum(all_sales_array)
print('Total Sales = ' + str(total_sales))

Total Sales = 1576272

In [11]:
# Computing average sales
average_sales = np.mean(all_sales_array)
print('Average Sales = ' + str(average_sales))

Average Sales = 14595.111111111111

In [12]:
# Tip: numpy functions can work on lists directly

total_sales = np.sum(all_sales)
print('Total Sales = ' + str(total_sales))

Total Sales = 1576272

In [13]:
# Task 1: Computing yearly average sales
# Data for 9 years, in groups of 12 months

size = len(all_sales)

number_of_years = int(size / 12)

yearly_means = []

for index in range(number_of_years):
    
    start = index * 12
    end = (index + 1) * 12
    
    year_figures = all_sales[start : end]
    
    year_avg = np.mean(year_figures)
    
    yearly_means.append(year_avg)
    
print(yearly_means)

[10186.666666666666, 10858.083333333334, 12663.333333333334, 13826.916666666666, 15171.083333333334, 17111.5, 16728.916666666668, 16581.333333333332, 18228.166666666668]

In [14]:
# Task 2: Modify the solution in Task 1 above to compute quarterly average sales
# Data for 9 years translates to 36 quarters

# Possible Solution:

size = len(all_sales)

number_of_quarters = int(size / 3)

quarterly_means = []

for index in range(number_of_quarters):
    
    start = index * 3
    end = (index + 1) * 3
    
    quarter_figures = all_sales[start : end]
    
    quarter_avg = np.mean(quarter_figures)
    
    quarterly_means.append(quarter_avg)
    
print(quarterly_means)

[9101.333333333334, 14257.666666666666, 8266.0, 9121.666666666666, 9482.666666666666, 14510.333333333334, 8909.333333333334, 10530.0, 12274.666666666666, 18038.333333333332, 8902.666666666666, 11437.666666666666, 12077.333333333334, 19441.0, 9624.0, 14165.333333333334, 14560.333333333334, 20618.333333333332, 12091.0, 13414.666666666666, 15045.333333333334, 22637.666666666668, 13617.0, 17146.0, 15227.666666666666, 20915.0, 14634.0, 16139.0, 14939.333333333334, 21962.333333333332, 13750.666666666666, 15673.0, 15866.666666666666, 22969.333333333332, 16377.0, 17699.666666666668]

In [15]:
# That's it