In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/sayar/.local/lib/python3.8/site-packages (1.3.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Requirement already satisfied: numpy>=1.17.3 in /home/sayar/.local/lib/python3.8/site-packages (from pandas) (1.21.2)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas) (2019.3)

In [2]:
# Using pandas
import pandas as pd

In [3]:
df = pd.read_csv('sales.csv')

In [4]:
# Displaying the dataframe
df

       Month  Sales
0    1960-01   6550
1    1960-02   8728
2    1960-03  12026
3    1960-04  14395
4    1960-05  14587
..       ...    ...
103  1968-08  16722
104  1968-09  14385
105  1968-10  21342
106  1968-11  17180
107  1968-12  14577

[108 rows x 2 columns]

In [5]:
# Fetch column names
df.columns

Index(['Month', 'Sales'], dtype='object')

In [6]:
# Fetch specific columns
df.Month

0      1960-01
1      1960-02
2      1960-03
3      1960-04
4      1960-05
        ...
103    1968-08
104    1968-09
105    1968-10
106    1968-11
107    1968-12
Name: Month, Length: 108, dtype: object

In [7]:
df.Sales

0       6550
1       8728
2      12026
3      14395
4      14587
       ...
103    16722
104    14385
105    21342
106    17180
107    14577
Name: Sales, Length: 108, dtype: int64

In [8]:
# Another way to fetch columns
df['Sales']

0       6550
1       8728
2      12026
3      14395
4      14587
       ...
103    16722
104    14385
105    21342
106    17180
107    14577
Name: Sales, Length: 108, dtype: int64

In [9]:
# Fetch the actual data values without column headers
df.values

array([['1960-01', 6550],
       ['1960-02', 8728],
       ['1960-03', 12026],
       ['1960-04', 14395],
       ['1960-05', 14587],
       ['1960-06', 13791],
       ['1960-07', 9498],
       ['1960-08', 8251],
       ['1960-09', 7049],
       ['1960-10', 9545],
       ['1960-11', 9364],
       ['1960-12', 8456],
       ['1961-01', 7237],
       ['1961-02', 9374],
       ['1961-03', 11837],
       ['1961-04', 13784],
       ['1961-05', 15926],
       ['1961-06', 13821],
       ['1961-07', 11143],
       ['1961-08', 7975],
       ['1961-09', 7610],
       ['1961-10', 10015],
       ['1961-11', 12759],
       ['1961-12', 8816],
       ['1962-01', 10677],
       ['1962-02', 10947],
       ['1962-03', 15200],
       ['1962-04', 17010],
       ['1962-05', 20900],
       ['1962-06', 16205],
       ['1962-07', 12143],
       ['1962-08', 8997],
       ['1962-09', 5568],
       ['1962-10', 11474],
       ['1962-11', 12256],
       ['1962-12', 10583],
       ['1963-01', 10862],
       ['1963-02', 10965],
       ['1963-03', 14405],
       ['1963-04', 20379],
       ['1963-05', 20128],
       ['1963-06', 17816],
       ['1963-07', 12268],
       ['1963-08', 8642],
       ['1963-09', 7962],
       ['1963-10', 13932],
       ['1963-11', 15936],
       ['1963-12', 12628],
       ['1964-01', 12267],
       ['1964-02', 12470],
       ['1964-03', 18944],
       ['1964-04', 21259],
       ['1964-05', 22015],
       ['1964-06', 18581],
       ['1964-07', 15175],
       ['1964-08', 10306],
       ['1964-09', 10792],
       ['1964-10', 14752],
       ['1964-11', 13754],
       ['1964-12', 11738],
       ['1965-01', 12181],
       ['1965-02', 12965],
       ['1965-03', 19990],
       ['1965-04', 23125],
       ['1965-05', 23541],
       ['1965-06', 21247],
       ['1965-07', 15189],
       ['1965-08', 14767],
       ['1965-09', 10895],
       ['1965-10', 17130],
       ['1965-11', 17697],
       ['1965-12', 16611],
       ['1966-01', 12674],
       ['1966-02', 12760],
       ['1966-03', 20249],
       ['1966-04', 22135],
       ['1966-05', 20677],
       ['1966-06', 19933],
       ['1966-07', 15388],
       ['1966-08', 15113],
       ['1966-09', 13401],
       ['1966-10', 16135],
       ['1966-11', 17562],
       ['1966-12', 14720],
       ['1967-01', 12225],
       ['1967-02', 11608],
       ['1967-03', 20985],
       ['1967-04', 19692],
       ['1967-05', 24081],
       ['1967-06', 22114],
       ['1967-07', 14220],
       ['1967-08', 13434],
       ['1967-09', 13598],
       ['1967-10', 17187],
       ['1967-11', 16119],
       ['1967-12', 13713],
       ['1968-01', 13210],
       ['1968-02', 14251],
       ['1968-03', 20139],
       ['1968-04', 21725],
       ['1968-05', 26099],
       ['1968-06', 21084],
       ['1968-07', 18024],
       ['1968-08', 16722],
       ['1968-09', 14385],
       ['1968-10', 21342],
       ['1968-11', 17180],
       ['1968-12', 14577]], dtype=object)

In [14]:
# To store the column names in a list of rows

header = df.columns.tolist()

print('Header: ' + str(header))

Header: ['Month', 'Sales']

In [11]:
# Task 1
# Store all of the data values as a list of list of rows (like a matrix)

# Complete the following line:

rows = df.values.tolist()

print('First Row: ' + str(rows[0]))
print('Number of rows: ' + str(len(rows)))

First Row: ['1960-01', 6550]
Number of rows: 108

In [12]:
# Task 2

# Store all of the sales figures as a list

# Complete the following line:
sales_list = df.Sales.tolist()

print('sales_list: ' + str(sales_list))

sales_list: [6550, 8728, 12026, 14395, 14587, 13791, 9498, 8251, 7049, 9545, 9364, 8456, 7237, 9374, 11837, 13784, 15926, 13821, 11143, 7975, 7610, 10015, 12759, 8816, 10677, 10947, 15200, 17010, 20900, 16205, 12143, 8997, 5568, 11474, 12256, 10583, 10862, 10965, 14405, 20379, 20128, 17816, 12268, 8642, 7962, 13932, 15936, 12628, 12267, 12470, 18944, 21259, 22015, 18581, 15175, 10306, 10792, 14752, 13754, 11738, 12181, 12965, 19990, 23125, 23541, 21247, 15189, 14767, 10895, 17130, 17697, 16611, 12674, 12760, 20249, 22135, 20677, 19933, 15388, 15113, 13401, 16135, 17562, 14720, 12225, 11608, 20985, 19692, 24081, 22114, 14220, 13434, 13598, 17187, 16119, 13713, 13210, 14251, 20139, 21725, 26099, 21084, 18024, 16722, 14385, 21342, 17180, 14577]

In [13]:
# That's it